/* this is default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ################################# */
/* this main and hero section */
#heros {
  background-image: url(/Images/Background.jpg);
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-top: 1rem;
}

#heros---text h1 {
  font-size: 5rem;
  color: whitesmoke;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#heros---text h2 {
  font-size: 5rem;
  color: whitesmoke;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#button {
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: "Amatic SC", sans-serif;
  font-size: large;
  margin-top: 2rem;
  padding: 10px;
  padding-inline: 2rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background: hsl(0, 66%, 44%);
}
#button:hover {
  background-color: rgb(22, 94, 22);
}
button a {
  color: whitesmoke;
  text-decoration: none;
}
/* ########################## */
img {
  max-width: 100%;
}
.product--image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card {
  height: 100%;
}
#orderbutton {
  height: 50px;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  font-family: "Amatic SC", sans-serif;
  font-size: large;
  padding: 10px;
  padding-inline: 2rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background: hsl(0, 66%, 44%);
}
#orderbutton:hover {
  background-color: rgb(22, 94, 22);
}
#about---container div {
  width: 50%;
}
#about---container img {
  height: 300px;
  width: 100%;
}
/* this contact section */
#contact---container {
  margin: 2rem;
  box-shadow: rgb(248, 251, 255) 0px 1px 1px,
    rgba(237, 237, 237, 0.13) 0px 0px 1px 1px;
}

#contact---div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact---div .form---input {
  gap: 3rem;
  border-radius: 10px;
  border: none;
}
#contact---button {
  height: 30px;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  font-family: "Amatic SC", sans-serif;
  font-size: large;
  margin: 15px 0;
  padding-inline: 2rem;
  font-weight: 600;
  background-color: rgb(22, 94, 22);
}
#contact---button:hover {
  background-color: rgb(105, 230, 105);
}

/* ######################### */

/* this is footer section */
footer {
  background: hsl(0, 66%, 44%);
  margin-top: -33px;
}
footer h4 {
  padding: 20px;
}
#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  gap: 30px;
}
footer i {
  font-size: 2rem;
  color: whitesmoke;
}
footer i:hover {
  color: rgb(105, 230, 105);
}
/* ###################### */
